node-red
[{"id":"2e27c1a2.51fb6e","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"bccebbdd.d1e758","type":"inject","z":"2e27c1a2.51fb6e","name":"","topic":"earthquake","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["a4861f64.3411d"]]},{"id":"d49ada29.1f78a8","type":"http request","z":"2e27c1a2.51fb6e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.106:8080/wp","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":220,"wires":[["f1723664.8c63e8"]]},{"id":"f1723664.8c63e8","type":"switch","z":"2e27c1a2.51fb6e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":280,"wires":[["de534072.1073c"]]},{"id":"de534072.1073c","type":"function","z":"2e27c1a2.51fb6e","name":"","func":"msg.payload = `{\\\"service\\\": \\\"${msg.topic}\\\"}`\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["ede16d85.9236f"]]},{"id":"ede16d85.9236f","type":"http request","z":"2e27c1a2.51fb6e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.106:8080/services/{{name}}","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":400,"wires":[["f88b3396.7983d"]]},{"id":"f88b3396.7983d","type":"debug","z":"2e27c1a2.51fb6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":460,"wires":[]},{"id":"a4861f64.3411d","type":"change","z":"2e27c1a2.51fb6e","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"node_red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":100,"wires":[["bbd5bbcf.f59c68"]]},{"id":"bbd5bbcf.f59c68","type":"function","z":"2e27c1a2.51fb6e","name":"","func":"msg.payload = `{\\\"agentid\\\":\\\"${msg.name}\\\",\\\"uri\\\":\\\"http://localhost:1880/${msg.name}\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["d49ada29.1f78a8"]]},{"id":"2863646f.393b1c","type":"http in","z":"2e27c1a2.51fb6e","name":"","url":"/:nome/mb","method":"post","upload":false,"swaggerDoc":"","x":440,"y":40,"wires":[["710673b.6acf78c","493ade1c.fc1fc"]]},{"id":"101b2b5f.fc8ce5","type":"function","z":"2e27c1a2.51fb6e","name":"","func":"var outputMsgs = [];\nvar outputAgent = [];\n\nfor (i=0; i < msg.payload.features.length - 1; i++) {\n    var feature = msg.payload.features[i];\n    var literal = `earthquake(${feature.properties.alert},${feature.properties.mag},${feature.geometry.coordinates[1]},${feature.geometry.coordinates[0]})`;\n    outputAgent.push({payload: literal});\n}\n\nreturn [outputAgent]","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["363b74fa.492fcc"]]},{"id":"6a3df28d.ea63cc","type":"http request","z":"2e27c1a2.51fb6e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.geojson","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[["3da3e88f.cc74b8"]]},{"id":"3da3e88f.cc74b8","type":"json","z":"2e27c1a2.51fb6e","name":"","property":"payload","action":"","pretty":false,"x":450,"y":220,"wires":[["101b2b5f.fc8ce5"]]},{"id":"22eb60eb.c7b6f","type":"debug","z":"2e27c1a2.51fb6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":460,"wires":[]},{"id":"686f84ee.e596bc","type":"http request","z":"2e27c1a2.51fb6e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.106:8080/agents/{{name}}/mb","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":400,"wires":[["22eb60eb.c7b6f"]]},{"id":"363b74fa.492fcc","type":"function","z":"2e27c1a2.51fb6e","name":"","func":"msg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"bob\\\", \\\"performative\\\": \\\"tell\\\", \\\"content\\\": \\\"${msg.payload}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\n//msg.name = \"bob\";\nmsg.name  = flow.get(\"sender\");\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["686f84ee.e596bc"]]},{"id":"710673b.6acf78c","type":"change","z":"2e27c1a2.51fb6e","name":"","rules":[{"t":"set","p":"sender","pt":"flow","to":"payload.sender","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["6a3df28d.ea63cc"]]},{"id":"493ade1c.fc1fc","type":"http response","z":"2e27c1a2.51fb6e","name":"","statusCode":"","headers":{},"x":630,"y":40,"wires":[]}]
